<style>
#exampleImage { cursor:zoom-in;
  max-width: 400px;
  max-height: 400px;
 }
#exampleImage:-webkit-full-screen { max-width: 100%;
  max-height: 100%;
  cursor:zoom-out; }
#exampleImage:-moz-full-screen { max-width: 100%;
  cursor:zoom-out; }
#exampleImage:-ms-fullscreen { max-width: 100%;
  cursor:zoom-out; }
#exampleImage:fullscreen { max-width: 100%;
  cursor:zoom-out; }

</style>

<p>
  <label>Click the button below to toggle between fullscreen mode and windowed mode for this page.</label><br>
  <button id="btnFullscreen" type="button">Toggle Fullscreen</button>
</p>
<p>
  <label>Click the image below to view it in fullscreen mode, click the image again to exit fullscreen mode.</label><br>
  <img id="exampleImage" src="https://source.unsplash.com/featured/?nature">
</p>

<script>
function toggleFullscreen(elem) {
  elem = elem || document.documentElement;
  if (!document.fullscreenElement && !document.mozFullScreenElement &&
    !document.webkitFullscreenElement && !document.msFullscreenElement) {
    if (elem.requestFullscreen) {
      elem.requestFullscreen();
    } else if (elem.msRequestFullscreen) {
      elem.msRequestFullscreen();
    } else if (elem.mozRequestFullScreen) {
      elem.mozRequestFullScreen();
    } else if (elem.webkitRequestFullscreen) {
      elem.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
    }
  } else {
    if (document.exitFullscreen) {
      document.exitFullscreen();
    } else if (document.msExitFullscreen) {
      document.msExitFullscreen();
    } else if (document.mozCancelFullScreen) {
      document.mozCancelFullScreen();
    } else if (document.webkitExitFullscreen) {
      document.webkitExitFullscreen();
    }
  }
}

document.getElementById('btnFullscreen').addEventListener('click', function() {
  toggleFullscreen();
});

document.getElementById('exampleImage').addEventListener('click', function() {
  toggleFullscreen(this);
});
</script>
